img {
    max-width: 100%;
    height: auto;
    width: auto\9; /* ie8 */
}
#col {
    color: white;
    font-family: Arial,Helvetica,sans-serif;
    font-size: small;
  -moz-column-width: 12em;
  -moz-columns: 12em;
  -webkit-columns: 12em;
  columns: 12em;
}

