img {
    max-width: 100%;
    height: auto;
    width: auto\9; /* ie8 */
}
#col {
    color: white;
    font-family: Arial,Helvetica,sans-serif;
    font-size: small;
  -moz-column-width: 30em;
  -moz-columns: 30em;
  -webkit-columns: 30em;
  columns: 30em;
}
#col_img {
    max-width: 100%;
    height: auto;
    width: 100%; /* ie8 */
}

